html, body {
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}

a {
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

.hud {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 30%;
  flex-direction: row;
  justify-content: center;
  opacity: 0.9;
  user-select: none;
}

.hud > button[type="spin"] {
  margin-left: 60px;
  margin-right: 60px;
}

@media screen and (max-height: 370px) {
  .hud {
    opacity: 0.75;
  }

  .hud > button[type="spin"] {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 410px) {
  .hud > button[type="spin"] {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.test-input {
  display: flex;
}

.collapsed .test-input {
  display: none;
}

.test-input input {
  width: 100%;
  max-width: 15px;
}

.help {
  display: flex;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background: rgba(0,0,55,0.8);
  user-select: none;
  transition: 0.5s all;
}

.help .content {
  position: relative;
  margin: auto;
  height: 100%;
  max-width: 500px;
  max-height: 400px;
  overflow-y: auto;
}

.help .close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 25px;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px;
  font-weight: bold;
}

.help .close:hover {
  text-shadow: 0px 0px 5px blue;
}

.help table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #000055;
	border-collapse: separate; 
}
.help table th {
	font-weight: bold;
	padding: 5px;
	background: rgba(50,50,255,0.2);
	border: 1px solid #0000dd;
}
.help table td {
  background: rgba(100,100,255,0.2);
	border: 1px solid #0000dd;
	padding: 5px;
}

.payline {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 60px;
}

.payline span {
  letter-spacing: -4px;
  height: 10px;
  font-size: 24px;
}

button[type="help"] {
  width: 100%;
  max-width: 40px;
}

.balance {
  display: flex;
  flex-direction: column;
  background: white;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  text-align: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  background-color: transparent !important;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}